.row{
    margin-left: 20px;
    margin-top: 10px;
    color: #ffff;
}
.posters{
    
 display: flex;
 padding: 20px;
 overflow-x: scroll;
 overflow-y: hidden;

}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
}
.smallPoster{
    cursor: pointer;
    max-height:150px  ;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
}
.smallPoster:hover{
    transform: scale(1.08);
    transition: 'transform 0.2s '
}
.poster:hover{
    transform: scale(1.08);
    /* transition: 'transform 0.2s'
    transition-timing-function: 'ease-in'; */
    transition-timing-function: ease-in-out;
    transition: 'transform 0.2s'
}